<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.2.0.2" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.2.0.2" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.2.0.2" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="8.2.0.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net461" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.5715.1200" targetFramework="net461" />
  <package id="SPMeta2.Core" version="1.2.100" targetFramework="net461" />
  <package id="SPMeta2.CSOM.Foundation-v16" version="1.2.100" targetFramework="net461" />
</packages>